* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
 }

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: black;
    font-size: 14px;
}

 h1 {
    width: 100%;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
    color: white; 
 }

main {
    width: 100%;
    display: flex;
    padding-top: 2em;
    align-items: center;
    justify-content: center;
}

.game {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.word-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
}

.word-column {
    width: 4em;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #353535;
    border-radius: 10px;
    color: #fff;
    margin-right: 0.5em;
    margin-bottom: 0.5em;    
}

.keyboard {
    width: 100%;
    padding-bottom: 2em;
}

.keyboard-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.keyboard button {
    background-color: white;
    color: black;
    outline: none;
    border: 1px  solid #353535; 
    padding: 1em;
    margin-right: 0.3em;
    margin-bottom: 0.3em;
    cursor: pointer;
    border-radius: 10px;
} 

@keyframes green {
    from {background-color: black}
    to {background-color: green;}
  }


.green {
    background-color: green;
    color: white;
    animation-name: green;
    animation-duration: 2s;
    animation-iteration-count: 2;
    animation-direction: alternate
  }