header {
    text-align: center;
}

main {
    text-align: center;
}

ul {
    padding-left: 0;
}
/* https://stackoverflow.com/questions/7516005/how-to-make-a-bullet-list-align-with-text-in-css */
ul li {
    list-style-position: inside;
}